html, body {
	margin: 0;
	font-family: sans-serif;
	background-color: black;
}
#canvas {
	position: fixed;
	left: 0;
	top: 0;
}

.screen {
	position: fixed;
	left: 0;
	top: 0;
}
.screen.hidden {
	display: none;
}
#home, #score {
	background-size: cover;
	background-image: url(img/fond.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
	#home  h1{
		text-align: center;
		font-size: 3em;
		color: white;
		text-transform: uppercase;
	}
	#home .start {
		margin: 0 auto;
		width: 150px; 
		padding: 15px 0;
		text-align: center;
		font-size: 1.5em;
		background-color: white;
		box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
		cursor: pointer;

	}

.redo {
	margin: 200px auto;
	width: 150px; 
	padding: 15px 0;
	text-align: center;
	font-size: 1.5em;
	background-color: white;
	box-shadow: 0px 2px 5px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;

}

.panel {
	position: fixed;
	width: auto;
}
	.score {
		right: 30px;
		top: 30px;
		padding: 15px 20px;
		font-size: 1.5em;
		color: white;
		text-align: right;
	}

	.life {
		left: 30px;
		top: 30px;
		width: 150px;
		height: 30px;
	}
		.life .current{
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			background-image:url("img/life.png");
			border-top: solid 2px black;
			border-bottom: solid 2px black;
		}
#score .score {
	right: 50%;
	top: 100px;
	width: 150px;
	font-size: 1.8em;
	margin-right: -75px;
	padding: 0;
	text-align: center;;
}
